<div class='container'>
<h2>Help</h2>
<hr/>

<a href="#BASE_DRG">BASE-DRGS</a>
<p>
Procedures and conditions that are important to Medicare that:</br>
 - Impact a significant number of beneficiaries.<br/>
 - Have substantial Medicare spending.<br/>
 - Have significant variation in resource utilization (e.g., length of stay).<br/>
 - Have high rate of PAC use.<br/>
 - Have high rate of readmission.<br/>
</p>
</div>