<h2>Administration Page</h2>
<hr/>

<div class='container'>
<ul>
	<li><a href='https://papertrailapp.com/events'>View Log</a></li>
	<li><a href='http://scrsproto.disqus.com/admin/moderate/#/approved'>Manage Comments</a></li>
	<li><a href='https://www.google.com/analytics/web/?hl=en&pli=1#report/visitors-overview/a43111427w73055145p75436625/'>View Google Analytics</a></li>
	<li><a href='https://segment.io/scrs/dashboard'>View Events Dashboard</a></li>
	<li><a href='https://dashboard.heroku.com/apps/serene-eyrie-7397/resources'>Heroku Dashboard</a></li>
</ul>
</div>