<div class='container'>
<h2>New User</h2>


<div class='dwell'>
	<form action='/users' method='POST' >
		<table class='table'>
			<tr>
				<td>username</td>
				<td><input type='text' name='username' value=''/></td>
			</tr>
			<tr>
				<td>email</td>
				<td><input name='email' value=''/></td>
			</tr>
			<tr>
				<td>site id</td>
				<td><input name='site_id' value=''/></td>
			</tr>
		</table>
		<input type='submit' class='btn btn-primary' name='submit' value="Submit"/> <br/><br/>
	</form>
</div>

</div>