<table>
	<tr>
		<td><img src='<%=site.image%>' width='128' height='128'/></td>
		<td><table>
				<tr><td><b><%= site.name %></b></td></tr>
				<tr><td><%= site.address %></td></tr>
				<tr><td><a href='<%= site.website %>'>website</a></td></tr>
			</table>
		</td>
	</tr>
</table>
<hr/>