<!DOCTYPE html>
<html>
<head>
	<title><%= site.name %></title>
<head>	
<body>

	<%- partial('site.ejs', {site: site})%>


<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ev="http://www.w3.org/2001/xml-events"
		xmlns:v="http://schemas.microsoft.com/visio/2003/SVGExtensions/" width="17in" height="11in" viewBox="0 0 1224 792"
		xml:space="preserve" color-interpolation-filters="sRGB" class="st20">
	<v:documentProperties v:langID="1033" v:viewMarkup="false">
		<v:userDefs>
			<v:ud v:nameU="msvNoAutoConnect" v:val="VT0(1):26"/>
		</v:userDefs>
	</v:documentProperties>

	<style type="text/css">
	<![CDATA[
		.st1 {fill:none;stroke:none;stroke-linecap:butt;stroke-width:1.25}
		.st2 {fill:#686868;font-family:Franklin Gothic Book;font-size:1.66667em;font-weight:bold}
		.st3 {fill:#7aa69c;stroke:#658a81;stroke-linecap:butt;stroke-width:1.25}
		.st4 {fill:#ffffff;font-family:Franklin Gothic Book;font-size:1.00001em}
		.st5 {font-size:1em}
		.st6 {font-size:0.83333em}
		.st7 {stroke:#696969;stroke-linecap:butt;stroke-width:1.25}
		.st8 {fill:#bebebe;stroke:#9e9e9e;stroke-linecap:butt;stroke-width:1.25}
		.st9 {fill:#4c5a69;font-family:Franklin Gothic Book;font-size:2.16666em;font-weight:bold}
		.st10 {fill:#355260;font-family:Franklin Gothic Book;font-size:1.66667em;font-weight:bold}
		.st11 {fill:#686868;font-family:Franklin Gothic Book;font-size:1.16666em;font-weight:bold}
		.st12 {fill:#7e7e7e;stroke:#686868;stroke-linecap:butt;stroke-width:1.25}
		.st13 {marker-end:url(#mrkr5-96);stroke:#686868;stroke-linecap:butt;stroke-width:1}
		.st14 {fill:#686868;fill-opacity:1;stroke:#686868;stroke-opacity:1;stroke-width:0.28409090909091}
		.st15 {stroke:#686868;stroke-linecap:butt;stroke-width:1}
		.st16 {fill:#7e7e7e;fill-opacity:0.4;stroke:#686868;stroke-linecap:butt;stroke-width:1.25}
		.st17 {fill:#686868;font-family:Franklin Gothic Book;font-size:1.33333em}
		.st18 {fill:#7aa69c;marker-end:url(#mrkr5-237);stroke:#658a81;stroke-linecap:butt;stroke-width:1.25}
		.st19 {fill:#658a81;fill-opacity:1;stroke:#658a81;stroke-opacity:1;stroke-width:0.3315649867374}
		.st20 {fill:none;fill-rule:evenodd;font-size:12px;overflow:visible;stroke-linecap:square;stroke-miterlimit:3}
	]]>
	</style>

	<defs id="Markers">
		<g id="lend5">
			<path d="M 2 1 L 0 0 L 1.98117 -0.993387 C 1.67173 -0.364515 1.67301 0.372641 1.98465 1.00043 " style="stroke:none"/>
		</g>
		<marker id="mrkr5-96" class="st14" v:arrowType="5" v:arrowSize="2" v:setback="6.16" refX="-6.16" orient="auto"
				markerUnits="strokeWidth" overflow="visible">
			<use xlink:href="#lend5" transform="scale(-3.52,-3.52) "/>
		</marker>
		<marker id="mrkr5-237" class="st19" v:arrowType="5" v:arrowSize="2" v:setback="5.278" refX="-5.278" orient="auto"
				markerUnits="strokeWidth" overflow="visible">
			<use xlink:href="#lend5" transform="scale(-3.016,-3.016) "/>
		</marker>
	</defs>
	<g v:mID="0" v:index="1" v:groupContext="foregroundPage">
		<v:userDefs>
			<v:ud v:nameU="msvThemeOrder" v:val="VT0(0):26"/>
		</v:userDefs>
		<title>Page-1</title>
		<v:pageProperties v:drawingScale="1" v:pageScale="1" v:drawingUnits="19" v:shadowOffsetX="9" v:shadowOffsetY="-9"/>
		<v:layer v:name="Connector" v:index="0"/>
		<v:layer v:name="Container" v:index="1"/>
		<v:layer v:name="background" v:index="2"/>
		<v:layer v:name="foreground" v:index="3"/>
		<g id="shape2-1" v:mID="2" v:groupContext="shape" transform="translate(504,-1134)">
			<title>Sheet.2</title>
			<desc>Transitions of Care at Episode Level</desc>
			<v:textBlock v:margins="rect(4,4,4,4)" v:verticalAlign="0"/>
			<v:textRect cx="252" cy="774" width="504" height="36"/>
			<rect x="0" y="756" width="504" height="36" class="st1"/>
			<text x="101.12" y="778" class="st2" v:langID="1033"><v:paragraph v:horizAlign="1"/><v:tabList/>Transitions of Care at Episode Level</text>		</g>
		<g id="shape4-4" v:mID="4" v:groupContext="shape" transform="translate(6.75,-292.5)">
			<title>Square</title>
			<desc>Physician Office Visit</desc>
			<v:userDefs>
				<v:ud v:nameU="visVersion" v:val="VT0(15):26"/>
			</v:userDefs>
			<v:textBlock v:margins="rect(4,4,4,4)"/>
			<v:textRect cx="40.5" cy="751.5" width="81" height="81"/>
			<rect x="0" y="711" width="81" height="81" class="st3"/>
			<text x="16.66" y="747.9" class="st4" v:langID="1033"><v:paragraph v:horizAlign="1"/><v:tabList/>Physician <tspan
						x="13.72" dy="1.2em" class="st5">Office Visit</tspan></text>		</g>
						
		<g id="shape6-8" v:mID="6" v:groupContext="shape" transform="translate(254.25,-380.25)" >
			
			<title>Rectangle</title>
			<desc>Hospital Emergency Department</desc>
			<v:userDefs>
				<v:ud v:nameU="visVersion" v:val="VT0(15):26"/>
			</v:userDefs>
			<v:textBlock v:margins="rect(4,4,4,4)"/>
			<v:textRect cx="40.5" cy="756" width="81" height="72"/>
			<rect x="0" y="720" width="81" height="72" class="st3"
				onmouseover="evt.target.setAttribute('class', 'st7');"
				onmouseout="evt.target.setAttribute('class', 'st3');"
			/>
			<text x="19.76" y="745.2" class="st4" v:langID="1033"><v:paragraph v:horizAlign="1"/><v:tabList/>Hospital <tspan
						x="12.62" dy="1.2em" class="st5">Emergency </tspan><tspan x="10.19" dy="1.2em" class="st5">Department</tspan></text>		</g>
						
		<g id="shape7-13" v:mID="7" v:groupContext="shape" transform="translate(252,-299.25)">
			<title>Rectangle.7</title>
			<desc>Observation Care</desc>
			<v:userDefs>
				<v:ud v:nameU="visVersion" v:val="VT0(15):26"/>
			</v:userDefs>
			<v:textBlock v:margins="rect(4,4,4,4)"/>
			<v:textRect cx="40.5" cy="756" width="81" height="72"/>
			<rect x="0" y="720" width="81" height="72" class="st3"/>
			<text x="10.14" y="752.4" class="st4" v:langID="1033"><v:paragraph v:horizAlign="1"/><v:tabList/>Observation <tspan
						x="28.75" dy="1.2em" class="st5">Care</tspan></text>		</g>
		<g id="shape8-17" v:mID="8" v:groupContext="shape" transform="translate(252,-216)">
			<title>Rectangle.8</title>
			<desc>Outpatient Care</desc>
			<v:userDefs>
				<v:ud v:nameU="visVersion" v:val="VT0(15):26"/>
			</v:userDefs>
			<v:textBlock v:margins="rect(4,4,4,4)"/>
			<v:textRect cx="40.5" cy="756" width="81" height="72"/>
			<rect x="0" y="720" width="81" height="72" class="st3"/>
			<text x="13.8" y="752.4" class="st4" v:langID="1033"><v:paragraph v:horizAlign="1"/><v:tabList/>Outpatient <tspan
						x="28.75" dy="1.2em" class="st5">Care</tspan></text>		</g>
		<g id="shape9-21" v:mID="9" v:groupContext="shape" transform="translate(121.5,-132.75)">
			<title>Rectangle.9</title>
			<desc>No Additional Care (with or without Instruction)</desc>
			<v:userDefs>
				<v:ud v:nameU="visVersion" v:val="VT0(15):26"/>
			</v:userDefs>
			<v:textBlock v:margins="rect(4,4,4,4)"/>
			<v:textRect cx="40.5" cy="756" width="81" height="72"/>
			<rect x="0" y="720" width="81" height="72" class="st3"/>
			<text x="6.74" y="738" class="st4" v:langID="1033"><v:paragraph v:horizAlign="1"/><v:tabList/>No Additional <tspan
						x="28.75" dy="1.2em" class="st5">Care<v:newlineChar/></tspan><tspan x="7.74" dy="1.2em" class="st5">(</tspan><tspan
						class="st6">with or without </tspan><tspan x="16.24" dy="1.44em" class="st6">Instruction</tspan>)</text>		</g>
		<g id="shape34-28" v:mID="34" v:groupContext="shape" transform="translate(999,-213.75)">
			<title>Rectangle.34</title>
			<desc>Readmissions</desc>
			<v:userDefs>
				<v:ud v:nameU="visVersion" v:val="VT0(15):26"/>
			</v:userDefs>
			<v:textBlock v:margins="rect(4,4,4,4)"/>
			<v:textRect cx="72" cy="738" width="144" height="108"/>
			<rect x="0" y="684" width="144" height="108" class="st3"/>
			<text x="36.44" y="741.6" class="st4" v:langID="1033"><v:paragraph v:horizAlign="1"/><v:tabList/>Readmissions</text>		</g>
		<g id="shape105-31" v:mID="105" v:groupContext="shape" transform="translate(841.5,-29.25)">
			<title>Rectangle.105</title>
			<desc>Against Medical Advice</desc>
			<v:userDefs>
				<v:ud v:nameU="visVersion" v:val="VT0(15):26"/>
			</v:userDefs>
			<v:textBlock v:margins="rect(4,4,4,4)"/>
			<v:textRect cx="40.5" cy="767.25" width="81" height="49.5"/>
			<rect x="0" y="742.5" width="81" height="49.5" class="st3"/>
			<text x="21.91" y="756.45" class="st4" v:langID="1033"><v:paragraph v:horizAlign="1"/><v:tabList/>Against <tspan
						x="20.56" dy="1.2em" class="st5">Medical </tspan><tspan x="24.06" dy="1.2em" class="st5">Advice</tspan></text>		</g>
		<g id="shape108-36" v:mID="108" v:groupContext="shape" transform="translate(1044,-18)">
			<title>Rectangle.108</title>
			<desc>Death (absorbing state at any point of transition)</desc>
			<v:userDefs>
				<v:ud v:nameU="visVersion" v:val="VT0(15):26"/>
			</v:userDefs>
			<v:textBlock v:margins="rect(4,4,4,4)"/>
			<v:textRect cx="72" cy="748" width="144" height="88"/>
			<rect x="0" y="704" width="144" height="88" class="st3"/>
			<text x="56.74" y="730" class="st4" v:langID="1033"><v:paragraph v:horizAlign="1"/><v:tabList/>Death<v:newlineChar/><tspan
						x="30.9" dy="1.2em" class="st5">(</tspan>absorbing state<v:newlineChar/><tspan x="35.85" dy="1.2em"
						class="st5">at any point of <v:newlineChar/></tspan><tspan x="46.24" dy="1.2em" class="st5">transition</tspan>)</text>		</g>
		<g id="shape140-42" v:mID="140" v:groupContext="shape" transform="translate(18,963) scale(1,-1)">
			<title>Side brace.140</title>
			<v:userDefs>
				<v:ud v:nameU="TxtW" v:val="VT0(0.55555555555556):29"/>
				<v:ud v:nameU="TxtA" v:val="VT0(1.5707963267949):32"/>
				<v:ud v:nameU="TxtAState" v:val="VT0(0):26"/>
				<v:ud v:nameU="TxtWState" v:val="VT0(0):26"/>
				<v:ud v:nameU="MaxRadius" v:val="VT0(0.25):1"/>
				<v:ud v:nameU="PosCH1" v:prompt="Constrains X position of Control Handle #1" v:val="VT0(0):26"/>
				<v:ud v:nameU="PosCH2" v:prompt="Constrains Y position of Control Handle #2" v:val="VT0(0):26"/>
				<v:ud v:nameU="Scale" v:val="VT0(1):26"/>
				<v:ud v:nameU="AntiScale" v:val="VT0(1):26"/>
				<v:ud v:nameU="visVersion" v:val="VT0(15):26"/>
			</v:userDefs>
			<path d="M0 774 L0 783 A8.99985 8.99985 -180 0 0 9 792 L216 792 A8.99985 8.99985 0 0 1 225 801 A8.99985 8.99985 0 0 1
						 234 792 L441 792 A8.99985 8.99985 -180 0 0 450 783 L450 774" class="st7"/>
		</g>
		<g id="shape141-45" v:mID="141" v:groupContext="shape" transform="translate(486,963) scale(1,-1)">
			<title>Side brace.141</title>
			<v:userDefs>
				<v:ud v:nameU="TxtW" v:val="VT0(0.55555555555556):29"/>
				<v:ud v:nameU="TxtA" v:val="VT0(1.5707963267949):32"/>
				<v:ud v:nameU="TxtAState" v:val="VT0(0):26"/>
				<v:ud v:nameU="TxtWState" v:val="VT0(0):26"/>
				<v:ud v:nameU="MaxRadius" v:val="VT0(0.25):1"/>
				<v:ud v:nameU="PosCH1" v:prompt="Constrains X position of Control Handle #1" v:val="VT0(0):26"/>
				<v:ud v:nameU="PosCH2" v:prompt="Constrains Y position of Control Handle #2" v:val="VT0(0):26"/>
				<v:ud v:nameU="Scale" v:val="VT0(1):26"/>
				<v:ud v:nameU="AntiScale" v:val="VT0(1):26"/>
				<v:ud v:nameU="visVersion" v:val="VT0(15):26"/>
			</v:userDefs>
			<path d="M0 774 L0 783 A8.99985 8.99985 -180 0 0 9 792 L81 792 A8.99985 8.99985 0 0 1 90 801 A8.99985 8.99985 0 0 1 99
						 792 L171 792 A8.99985 8.99985 -180 0 0 180 783 L180 774" class="st7"/>
		</g>
		<g id="shape142-48" v:mID="142" v:groupContext="shape" transform="translate(684,963) scale(1,-1)">
			<title>Side brace.142</title>
			<v:userDefs>
				<v:ud v:nameU="TxtW" v:val="VT0(0.55555555555556):29"/>
				<v:ud v:nameU="TxtA" v:val="VT0(1.5707963267949):32"/>
				<v:ud v:nameU="TxtAState" v:val="VT0(0):26"/>
				<v:ud v:nameU="TxtWState" v:val="VT0(0):26"/>
				<v:ud v:nameU="MaxRadius" v:val="VT0(0.25):1"/>
				<v:ud v:nameU="PosCH1" v:prompt="Constrains X position of Control Handle #1" v:val="VT0(0):26"/>
				<v:ud v:nameU="PosCH2" v:prompt="Constrains Y position of Control Handle #2" v:val="VT0(0):26"/>
				<v:ud v:nameU="Scale" v:val="VT0(1):26"/>
				<v:ud v:nameU="AntiScale" v:val="VT0(1):26"/>
				<v:ud v:nameU="visVersion" v:val="VT0(15):26"/>
			</v:userDefs>
			<path d="M0 774 L0 783 A8.99985 8.99985 -180 0 0 9 792 L220.5 792 A8.99985 8.99985 0 0 1 229.5 801 A8.99985 8.99985 0
						 0 1 238.5 792 L450 792 A8.99985 8.99985 -180 0 0 459 783 L459 774" class="st7"/>
		</g>
		<g id="shape143-51" v:mID="143" v:groupContext="shape" transform="translate(180,-756)">
			<title>Sheet.143</title>
			<desc>Transitions of Care at Episode Level</desc>
			<v:textBlock v:margins="rect(4,4,4,4)"/>
			<v:textRect cx="441" cy="778.5" width="882" height="27"/>
			<rect x="0" y="765" width="882" height="27" class="st8"/>
			<text x="244.86" y="786.3" class="st9" v:langID="1033"><v:paragraph v:horizAlign="1"/><v:tabList/>Transitions of Care at Episode Level</text>		</g>
		<g id="shape152-54" v:mID="152" v:groupContext="shape" transform="translate(146.25,-663.75)">
			<title>Sheet.152</title>
			<desc>Pre-Episode</desc>
			<v:textBlock v:margins="rect(4,4,4,4)"/>
			<v:textRect cx="99" cy="787.5" width="198" height="9"/>
			<rect x="0" y="783" width="198" height="9" class="st1"/>
			<text x="48.81" y="793.5" class="st10" v:langID="1033"><v:paragraph v:horizAlign="1"/><v:tabList/>Pre-Episode</text>		</g>
		<g id="shape157-57" v:mID="157" v:groupContext="shape" transform="translate(477,-663.75)">
			<title>Sheet.157</title>
			<desc>Episode</desc>
			<v:textBlock v:margins="rect(4,4,4,4)"/>
			<v:textRect cx="99" cy="787.5" width="198" height="9"/>
			<rect x="0" y="783" width="198" height="9" class="st1"/>
			<text x="65.43" y="793.5" class="st10" v:langID="1033"><v:paragraph v:horizAlign="1"/><v:tabList/>Episode</text>		</g>
		<g id="shape159-60" v:mID="159" v:groupContext="shape" transform="translate(742.5,-663.75)">
			<title>Sheet.159</title>
			<desc>Post Episode</desc>
			<v:textBlock v:margins="rect(4,4,4,4)"/>
			<v:textRect cx="162" cy="787.5" width="324" height="9"/>
			<rect x="0" y="783" width="324" height="9" class="st1"/>
			<text x="107.4" y="793.5" class="st10" v:langID="1033"><v:paragraph v:horizAlign="1"/><v:tabList/>Post Episode</text>		</g>
		<g id="shape163-63" v:mID="163" v:groupContext="shape" transform="translate(135,-639)">
			<title>Sheet.163</title>
			<desc>3 - and 15 - days</desc>
			<v:textBlock v:margins="rect(4,4,4,4)"/>
			<v:textRect cx="108" cy="783" width="216" height="18"/>
			<rect x="0" y="774" width="216" height="18" class="st1"/>
			<text x="56.13" y="787.2" class="st11" v:langID="1033"><v:paragraph v:horizAlign="1"/><v:tabList/>3 - and 15 - days</text>		</g>
		<g id="shape166-66" v:mID="166" v:groupContext="shape" transform="translate(819,-643.5)">
			<title>Sheet.166</title>
			<desc>15 -, 30 -, and 60 - days</desc>
			<v:textBlock v:margins="rect(4,4,4,4)"/>
			<v:textRect cx="90" cy="787.5" width="180" height="9"/>
			<rect x="0" y="783" width="180" height="9" class="st1"/>
			<text x="19.4" y="791.7" class="st11" v:langID="1033"><v:paragraph v:horizAlign="1"/><v:tabList/>15 -, 30 -, and 60 - days</text>		</g>
		<g id="shape177-69" v:mID="177" v:groupContext="shape" transform="translate(6.75,-425.25)">
			<title>Circle</title>
			<desc>Beneficiary (potentially coming from Community Health or heal...</desc>
			<v:userDefs>
				<v:ud v:nameU="visVersion" v:val="VT0(15):26"/>
			</v:userDefs>
			<v:textBlock v:margins="rect(4,4,4,4)"/>
			<v:textRect cx="63" cy="729" width="110.25" height="94.5"/>
			<path d="M0 729 A63 63 0 0 1 126 729 A63 63 0 1 1 0 729 Z" class="st8"/>
			<text x="34.89" y="703.8" class="st4" v:langID="1033"><v:paragraph v:horizAlign="1"/><v:tabList/>Beneficiary<v:newlineChar/><tspan
						x="15.18" dy="1.2em" class="st5">(</tspan>potentially coming <tspan x="21.15" dy="1.2em" class="st5">from Community </tspan><tspan
						x="22.29" dy="1.2em" class="st5">Health or health </tspan><tspan x="23.35" dy="1.2em" class="st5">care institution</tspan>)</text>		</g>
		<g id="shape181-76" v:mID="181" v:groupContext="shape" transform="translate(108,-297)">
			<title>Diamond</title>
			<desc>Decision of Subsequent Care</desc>
			<v:userDefs>
				<v:ud v:nameU="visVersion" v:prompt="" v:val="VT0(15):26"/>
			</v:userDefs>
			<v:textBlock v:margins="rect(4,4,4,4)"/>
			<v:textRect cx="54" cy="756" width="108" height="72"/>
			<path d="M54 792 L108 756 L54 720 L0 756 L54 792 Z" class="st12"/>
			<text x="25.88" y="745.2" class="st4" v:langID="1033"><v:paragraph v:horizAlign="1"/><v:tabList/>Decision of <tspan
						x="23.52" dy="1.2em" class="st5">Subsequent       </tspan><tspan x="42.25" dy="1.2em" class="st5">Care</tspan></text>		</g>
		<g id="shape182-81" v:mID="182" v:groupContext="shape" transform="translate(378,-297)">
			<title>Diamond.182</title>
			<desc>Inpatient Admission Decisions</desc>
			<v:userDefs>
				<v:ud v:nameU="visVersion" v:prompt="" v:val="VT0(15):26"/>
			</v:userDefs>
			<v:textBlock v:margins="rect(4,4,4,4)"/>
			<v:textRect cx="54" cy="756" width="108" height="72"/>
			<path d="M54 792 L108 756 L54 720 L0 756 L54 792 Z" class="st12"/>
			<text x="31.43" y="745.2" class="st4" v:langID="1033"><v:paragraph v:horizAlign="1"/><v:tabList/>Inpatient <tspan
						x="27.98" dy="1.2em" class="st5">Admission </tspan><tspan x="29.51" dy="1.2em" class="st5">Decisions</tspan></text>		</g>
		<g id="shape183-86" v:mID="183" v:groupContext="shape" transform="translate(675,-294.75)">
			<title>Diamond.183</title>
			<desc>Acute Care Hospital Discharge Decision</desc>
			<v:userDefs>
				<v:ud v:nameU="visVersion" v:prompt="" v:val="VT0(15):26"/>
			</v:userDefs>
			<v:textBlock v:margins="rect(4,4,4,4)"/>
			<v:textRect cx="54" cy="756" width="108" height="72"/>
			<path d="M54 792 L108 756 L54 720 L0 756 L54 792 Z" class="st12"/>
			<text x="26.53" y="745.2" class="st4" v:langID="1033"><v:paragraph v:horizAlign="1"/><v:tabList/>Acute Care   <tspan
						x="6.47" dy="1.2em" class="st5">Hospital Discharge </tspan><tspan x="32.29" dy="1.2em" class="st5">Decision</tspan></text>		</g>
		<g id="shape189-91" v:mID="189" v:groupContext="shape" v:layerMember="0" transform="translate(87.75,-324)">
			<title>Dynamic connector.189</title>
			<path d="M0 783 L14.09 783" class="st13"/>
		</g>
		<g id="shape214-97" v:mID="214" v:groupContext="shape" v:layerMember="0" transform="translate(648,-321.75)">
			<title>Dynamic connector.214</title>
			<path d="M0 783 L20.84 783" class="st13"/>
		</g>
		<g id="shape216-102" v:mID="216" v:groupContext="shape" v:layerMember="0" transform="translate(819,-321.75)">
			<title>Dynamic connector.216</title>
			<path d="M0 792 L0 618.75 L16.34 618.75" class="st13"/>
		</g>
		<g id="shape217-107" v:mID="217" v:groupContext="shape" v:layerMember="0" transform="translate(819,-321.75)">
			<title>Dynamic connector.217</title>
			<path d="M0 792 L0 675 L16.34 675" class="st13"/>
		</g>
		<g id="shape218-112" v:mID="218" v:groupContext="shape" v:layerMember="0" transform="translate(819,-321.75)">
			<title>Dynamic connector.218</title>
			<path d="M0 792 L0 733.5 L16.34 733.5" class="st13"/>
		</g>
		<g id="shape219-117" v:mID="219" v:groupContext="shape" v:layerMember="0" transform="translate(819,-312.75)">
			<title>Dynamic connector.219</title>
			<path d="M0 783 L16.34 783" class="st13"/>
		</g>
		<g id="shape220-122" v:mID="220" v:groupContext="shape" v:layerMember="0" transform="translate(783,-330.75)">
			<title>Dynamic connector.220</title>
			<path d="M0 792 L13.5 792 L13.5 1003.5 L52.34 1003.5" class="st13"/>
		</g>
		<g id="shape221-127" v:mID="221" v:groupContext="shape" v:layerMember="0" transform="translate(819,-321.75)">
			<title>Dynamic connector.221</title>
			<path d="M0 792 L0 922.5 L16.34 922.5" class="st13"/>
		</g>
		<g id="shape234-132" v:mID="234" v:groupContext="shape" v:layerMember="0" transform="translate(69.75,-425.25)">
			<title>Dynamic connector</title>
			<path d="M0 792 L0 805.5 L-22.5 805.5 L-22.5 837.59" class="st13"/>
		</g>
		<g id="shape237-137" v:mID="237" v:groupContext="shape" v:layerMember="0" transform="translate(132.75,-488.25)">
			<title>Dynamic connector.237</title>
			<path d="M0 792 L29.25 792 L29.25 905.09" class="st13"/>
		</g>
		<g id="shape249-142" v:mID="249" v:groupContext="shape" v:layerMember="0" transform="translate(1071,-321.75)">
			<title>Dynamic connector.249</title>
			<path d="M0 792 L0 537.75 L-1001.25 537.75" class="st15"/>
		</g>
		<g id="shape251-145" v:mID="251" v:groupContext="shape" v:layerMember="0" transform="translate(60.75,-576)">
			<title>Dynamic connector.251</title>
			<path d="M9 792 L9 810.59" class="st13"/>
		</g>
		<g id="shape258-150" v:mID="258" v:groupContext="shape" v:layerMember="2" transform="translate(1314,263.25) rotate(90)">
			<title>Rectangle.258</title>
			<v:userDefs>
				<v:ud v:nameU="visVersion" v:val="VT0(15):26"/>
			</v:userDefs>
			<rect x="0" y="666" width="396" height="126" class="st16"/>
		</g>
		<g id="shape259-152" v:mID="259" v:groupContext="shape" transform="translate(509,-540.25)">
			<title>Sheet.259</title>
			<desc>Acute Hospital Inpatient</desc>
			<v:textBlock v:margins="rect(4,4,4,4)"/>
			<v:textRect cx="76" cy="782" width="152" height="20"/>
			<rect x="0" y="772" width="152" height="20" class="st1"/>
			<text x="27.38" y="777.2" class="st17" v:langID="1033"><v:paragraph v:horizAlign="1"/><v:tabList/>Acute Hospital <tspan
						x="45.9" dy="1.2em" class="st5">Inpatient</tspan></text>		</g>
		<g id="shape261-156" v:mID="261" v:groupContext="shape" transform="translate(-438.75,333) rotate(-90) scale(-1,1)">
			<title>Side brace.261</title>
			<v:userDefs>
				<v:ud v:nameU="TxtW" v:val="VT0(0.55555555555556):29"/>
				<v:ud v:nameU="TxtA" v:val="VT0(1.5707963267949):32"/>
				<v:ud v:nameU="TxtAState" v:val="VT0(0):26"/>
				<v:ud v:nameU="TxtWState" v:val="VT0(0):26"/>
				<v:ud v:nameU="MaxRadius" v:val="VT0(0.25):1"/>
				<v:ud v:nameU="PosCH1" v:prompt="Constrains X position of Control Handle #1" v:val="VT0(0):26"/>
				<v:ud v:nameU="PosCH2" v:prompt="Constrains Y position of Control Handle #2" v:val="VT0(0):26"/>
				<v:ud v:nameU="Scale" v:val="VT0(1):26"/>
				<v:ud v:nameU="AntiScale" v:val="VT0(1):26"/>
				<v:ud v:nameU="visVersion" v:val="VT0(15):26"/>
			</v:userDefs>
			<path d="M0 774 L0 783 A8.99985 8.99985 -180 0 0 9 792 L117 792 A8.99985 8.99985 0 0 1 126 801 A8.99985 8.99985 0 0 1
						 135 792 L243 792 A8.99985 8.99985 -180 0 0 252 783 L252 774" class="st7"/>
		</g>
		<g id="shape263-159" v:mID="263" v:groupContext="shape" v:layerMember="0" transform="translate(153,-297)">
			<title>Dynamic connector.263</title>
			<path d="M9 792 L9 878.09" class="st13"/>
		</g>
		<g id="shape264-164" v:mID="264" v:groupContext="shape" v:layerMember="0" transform="translate(216,-333)">
			<title>Dynamic connector.264</title>
			<path d="M0 792 L13.5 792 L13.5 873 L29.84 873" class="st13"/>
		</g>
		<g id="shape265-169" v:mID="265" v:groupContext="shape" v:layerMember="0" transform="translate(216,-333)">
			<title>Dynamic connector.265</title>
			<path d="M0 792 L13.5 792 L13.5 708.75 L32.09 708.75" class="st13"/>
		</g>
		<g id="shape266-174" v:mID="266" v:groupContext="shape" v:layerMember="0" transform="translate(216,-324)">
			<title>Dynamic connector.266</title>
			<path d="M0 783 L20.84 783" class="st13"/>
		</g>
		<g id="shape267-179" v:mID="267" v:groupContext="shape" v:layerMember="0" transform="translate(423,-297)">
			<title>Dynamic connector.267</title>
			<path d="M9 792 L9 875.84" class="st13"/>
		</g>
		<g id="shape268-184" v:mID="268" v:groupContext="shape" v:layerMember="0" transform="translate(486,-340.875)">
			<title>Dynamic connector.268</title>
			<path d="M0 799.88 L13.5 799.88 L13.5 802.12 L29.84 802.12" class="st13"/>
		</g>
		<g id="shape269-189" v:mID="269" v:groupContext="shape" transform="translate(391.5,-135)">
			<title>Rectangle.269</title>
			<desc>No Additional Care (with or without Instruction)</desc>
			<v:userDefs>
				<v:ud v:nameU="visVersion" v:val="VT0(15):26"/>
			</v:userDefs>
			<v:textBlock v:margins="rect(4,4,4,4)"/>
			<v:textRect cx="40.5" cy="756" width="81" height="72"/>
			<rect x="0" y="720" width="81" height="72" class="st3"/>
			<text x="6.74" y="738" class="st4" v:langID="1033"><v:paragraph v:horizAlign="1"/><v:tabList/>No Additional <tspan
						x="28.75" dy="1.2em" class="st5">Care<v:newlineChar/></tspan><tspan x="7.74" dy="1.2em" class="st5">(</tspan><tspan
						class="st6">with or without </tspan><tspan x="16.24" dy="1.44em" class="st6">Instruction</tspan>)</text>		</g>
		<g id="shape271-196" v:mID="271" v:groupContext="shape" v:layerMember="0" transform="translate(819,-321.75)">
			<title>Dynamic connector.271</title>
			<path d="M0 792 L0 859.5 L16.34 859.5" class="st13"/>
		</g>
		<g id="shape274-201" v:mID="274" v:groupContext="shape" transform="translate(177.75,265.5) rotate(-90) scale(-1,1)">
			<title>Side brace.274</title>
			<v:userDefs>
				<v:ud v:nameU="TxtW" v:val="VT0(0.55555555555556):29"/>
				<v:ud v:nameU="TxtA" v:val="VT0(1.5707963267949):32"/>
				<v:ud v:nameU="TxtAState" v:val="VT0(0):26"/>
				<v:ud v:nameU="TxtWState" v:val="VT0(0):26"/>
				<v:ud v:nameU="MaxRadius" v:val="VT0(0.25):1"/>
				<v:ud v:nameU="PosCH1" v:prompt="Constrains X position of Control Handle #1" v:val="VT0(0):26"/>
				<v:ud v:nameU="PosCH2" v:prompt="Constrains Y position of Control Handle #2" v:val="VT0(0):26"/>
				<v:ud v:nameU="Scale" v:val="VT0(1):26"/>
				<v:ud v:nameU="AntiScale" v:val="VT0(1):26"/>
				<v:ud v:nameU="visVersion" v:val="VT0(15):26"/>
			</v:userDefs>
			<path d="M0 774 L0 783 A8.99985 8.99985 -180 0 0 9 792 L249.75 792 A8.99985 8.99985 0 0 1 258.75 801 A8.99985 8.99985
						 0 0 1 267.75 792 L508.5 792 A8.99985 8.99985 -180 0 0 517.5 783 L517.5 774" class="st7"/>
		</g>
		<g id="shape275-204" v:mID="275" v:groupContext="shape" transform="translate(688.5,-135)">
			<title>Rectangle.275</title>
			<desc>No Additional Care (with or without Instruction)</desc>
			<v:userDefs>
				<v:ud v:nameU="visVersion" v:val="VT0(15):26"/>
			</v:userDefs>
			<v:textBlock v:margins="rect(4,4,4,4)"/>
			<v:textRect cx="40.5" cy="756" width="81" height="72"/>
			<rect x="0" y="720" width="81" height="72" class="st3"/>
			<text x="6.74" y="738" class="st4" v:langID="1033"><v:paragraph v:horizAlign="1"/><v:tabList/>No Additional <tspan
						x="28.75" dy="1.2em" class="st5">Care<v:newlineChar/></tspan><tspan x="7.74" dy="1.2em" class="st5">(</tspan><tspan
						class="st6">with or without </tspan><tspan x="16.24" dy="1.44em" class="st6">Instruction</tspan>)</text>		</g>
		<g id="shape276-211" v:mID="276" v:groupContext="shape" v:layerMember="0" transform="translate(720,-294.75)">
			<title>Dynamic connector.276</title>
			<path d="M9 792 L9 873.59" class="st13"/>
		</g>
		<g id="shape277-216" v:mID="277" v:groupContext="shape" v:layerMember="2" transform="translate(1611,265.5) rotate(90)">
			<title>Rectangle.277</title>
			<v:userDefs>
				<v:ud v:nameU="visVersion" v:val="VT0(15):26"/>
			</v:userDefs>
			<rect x="0" y="666" width="369" height="126" class="st16"/>
		</g>
		<g id="shape101-218" v:mID="101" v:groupContext="shape" v:layerMember="3" transform="translate(841.5,-470.25)">
			<title>Rectangle.38</title>
			<desc>Skilled Nursing Agenct</desc>
			<v:userDefs>
				<v:ud v:nameU="visVersion" v:val="VT0(15):26"/>
			</v:userDefs>
			<v:textBlock v:margins="rect(4,4,4,4)"/>
			<v:textRect cx="40.5" cy="767.25" width="81" height="49.5"/>
			<rect x="0" y="742.5" width="81" height="49.5" class="st3"/>
			<text x="23.59" y="756.45" class="st4" v:langID="1033"><v:paragraph v:horizAlign="1"/><v:tabList/>Skilled <tspan
						x="20.97" dy="1.2em" class="st5">Nursing </tspan><tspan x="23.32" dy="1.2em" class="st5">Agenct</tspan></text>		</g>
		<g id="shape102-223" v:mID="102" v:groupContext="shape" transform="translate(841.5,-414)">
			<title>Rectangle.102</title>
			<desc>Hospice</desc>
			<v:userDefs>
				<v:ud v:nameU="visVersion" v:val="VT0(15):26"/>
			</v:userDefs>
			<v:textBlock v:margins="rect(4,4,4,4)"/>
			<v:textRect cx="40.5" cy="767.25" width="81" height="49.5"/>
			<rect x="0" y="742.5" width="81" height="49.5" class="st3"/>
			<text x="20.24" y="770.85" class="st4" v:langID="1033"><v:paragraph v:horizAlign="1"/><v:tabList/>Hospice</text>		</g>
		<g id="shape103-226" v:mID="103" v:groupContext="shape" transform="translate(841.5,-355.5)">
			<title>Rectangle.103</title>
			<desc>Long-term Care Hospital</desc>
			<v:userDefs>
				<v:ud v:nameU="visVersion" v:val="VT0(15):26"/>
			</v:userDefs>
			<v:textBlock v:margins="rect(4,4,4,4)"/>
			<v:textRect cx="40.5" cy="767.25" width="81" height="49.5"/>
			<rect x="0" y="742.5" width="81" height="49.5" class="st3"/>
			<text x="14.92" y="763.65" class="st4" v:langID="1033"><v:paragraph v:horizAlign="1"/><v:tabList/>Long-term <tspan
						x="6.52" dy="1.2em" class="st5">Care Hospital</tspan></text>		</g>
		<g id="shape104-230" v:mID="104" v:groupContext="shape" transform="translate(841.5,-297)">
			<title>Rectangle.104</title>
			<desc>Inpatient Rehab Facility</desc>
			<v:userDefs>
				<v:ud v:nameU="visVersion" v:val="VT0(15):26"/>
			</v:userDefs>
			<v:textBlock v:margins="rect(4,4,4,4)"/>
			<v:textRect cx="40.5" cy="767.25" width="81" height="49.5"/>
			<rect x="0" y="742.5" width="81" height="49.5" class="st3"/>
			<text x="17.93" y="763.65" class="st4" v:langID="1033"><v:paragraph v:horizAlign="1"/><v:tabList/>Inpatient <tspan
						x="5.08" dy="1.2em" class="st5">Rehab Facility</tspan></text>		</g>
		<g id="shape253-234" v:mID="253" v:groupContext="shape" transform="translate(841.5,-83.25)">
			<title>Rectangle.253</title>
			<desc>Home Without Home Health Agency</desc>
			<v:userDefs>
				<v:ud v:nameU="visVersion" v:val="VT0(15):26"/>
			</v:userDefs>
			<v:textBlock v:margins="rect(4,4,4,4)"/>
			<v:textRect cx="40.5" cy="756" width="81" height="72"/>
			<rect x="0" y="720" width="81" height="72" class="st18"/>
			<text x="25.52" y="738" class="st4" v:langID="1033"><v:paragraph v:horizAlign="1"/><v:tabList/>Home <v:newlineChar/><tspan
						x="20.92" dy="1.2em" class="st5">Without<v:newlineChar/></tspan><tspan x="7.4" dy="1.2em" class="st5">Home Health </tspan><tspan
						x="22.68" dy="1.2em" class="st5">Agency</tspan></text>		</g>
		<g id="shape252-242" v:mID="252" v:groupContext="shape" transform="translate(841.5,-220.5)">
			<title>Rectangle.252</title>
			<desc>Home With Home Health Agency</desc>
			<v:userDefs>
				<v:ud v:nameU="visVersion" v:val="VT0(15):26"/>
			</v:userDefs>
			<v:textBlock v:margins="rect(4,4,4,4)"/>
			<v:textRect cx="40.5" cy="758.25" width="81" height="67.5"/>
			<rect x="0" y="724.5" width="81" height="67.5" class="st3"/>
			<text x="25.52" y="740.25" class="st4" v:langID="1033"><v:paragraph v:horizAlign="1"/><v:tabList/>Home <v:newlineChar/><tspan
						x="29.13" dy="1.2em" class="st5">With<v:newlineChar/></tspan><tspan x="7.4" dy="1.2em" class="st5">Home Health </tspan><tspan
						x="22.68" dy="1.2em" class="st5">Agency</tspan></text>		</g>
		<g id="shape107-248" v:mID="107" v:groupContext="shape" transform="translate(841.5,-166.5)">
			<title>Rectangle.107</title>
			<desc>Other Facility Discharge</desc>
			<v:userDefs>
				<v:ud v:nameU="visVersion" v:val="VT0(15):26"/>
			</v:userDefs>
			<v:textBlock v:margins="rect(4,4,4,4)"/>
			<v:textRect cx="40.5" cy="767.25" width="81" height="49.5"/>
			<rect x="0" y="742.5" width="81" height="49.5" class="st3"/>
			<text x="7.54" y="763.65" class="st4" v:langID="1033"><v:paragraph v:horizAlign="1"/><v:tabList/>Other Facility <tspan
						x="15.2" dy="1.2em" class="st5">Discharge</tspan></text>		</g>
		<g id="shape278-252" v:mID="278" v:groupContext="shape" v:layerMember="0" transform="translate(783,-327.375)">
			<title>Dynamic connector.278</title>
			<path d="M0 788.62 L13.5 788.62 L13.5 777.38 L29.84 777.38" class="st13"/>
		</g>
		<g id="shape279-257" v:mID="279" v:groupContext="shape" v:layerMember="0" transform="translate(783,-330.75)">
			<title>Dynamic connector.279</title>
			<path d="M0 792 L13.5 792 L13.5 1068.75 L52.34 1068.75" class="st13"/>
		</g>
		<g id="shape280-262" v:mID="280" v:groupContext="shape" transform="translate(841.5,-4.75)">
			<title>Rectangle.280</title>
			<desc>Other</desc>
			<v:userDefs>
				<v:ud v:nameU="visVersion" v:val="VT0(15):26"/>
			</v:userDefs>
			<v:textBlock v:margins="rect(4,4,4,4)"/>
			<v:textRect cx="40.5" cy="782" width="81" height="20"/>
			<rect x="0" y="772" width="81" height="20" class="st3"/>
			<text x="26.53" y="785.6" class="st4" v:langID="1033"><v:paragraph v:horizAlign="1"/><v:tabList/>Other</text>		</g>
		<g id="shape281-265" v:mID="281" v:groupContext="shape" v:layerMember="0" transform="translate(783,-330.75)">
			<title>Dynamic connector.281</title>
			<path d="M0 792 L13.5 792 L13.5 1108 L52.34 1108" class="st13"/>
		</g>
		<g id="shape282-270" v:mID="282" v:groupContext="shape" transform="translate(810,-540.25)">
			<title>Sheet.282</title>
			<desc>Post Acute Care</desc>
			<v:textBlock v:margins="rect(4,4,4,4)"/>
			<v:textRect cx="76" cy="782" width="152" height="20"/>
			<rect x="0" y="772" width="152" height="20" class="st1"/>
			<text x="22.57" y="786.8" class="st17" v:langID="1033"><v:paragraph v:horizAlign="1"/><v:tabList/>Post Acute Care</text>		</g>
		<g id="shape19-273" v:mID="19" v:groupContext="shape" v:layerMember="3" transform="translate(539.156,-427.25)">
			<title>Rectangle.19</title>
			<desc>Intensive Care Unit</desc>
			<v:userDefs>
				<v:ud v:nameU="visVersion" v:val="VT0(15):26"/>
			</v:userDefs>
			<v:textBlock v:margins="rect(4,4,4,4)"/>
			<v:textRect cx="45.8437" cy="751.25" width="91.69" height="81.5"/>
			<rect x="0" y="710.5" width="91.6875" height="81.5" class="st3"/>
			<text x="9.64" y="747.65" class="st4" v:langID="1033"><v:paragraph v:horizAlign="1"/><v:tabList/>Intensive Care <tspan
						x="35.73" dy="1.2em" class="st5">Unit</tspan></text>		</g>
		<g id="shape20-277" v:mID="20" v:groupContext="shape" v:layerMember="3" transform="translate(539.156,-332.5)">
			<title>Rectangle.20</title>
			<desc>Critical Care Unit</desc>
			<v:userDefs>
				<v:ud v:nameU="visVersion" v:val="VT0(15):26"/>
			</v:userDefs>
			<v:textBlock v:margins="rect(4,4,4,4)"/>
			<v:textRect cx="45.8437" cy="751.25" width="91.69" height="81.5"/>
			<rect x="0" y="710.5" width="91.6875" height="81.5" class="st3"/>
			<text x="15.2" y="747.65" class="st4" v:langID="1033"><v:paragraph v:horizAlign="1"/><v:tabList/>Critical Care <tspan
						x="35.73" dy="1.2em" class="st5">Unit</tspan></text>		</g>
		<g id="shape21-281" v:mID="21" v:groupContext="shape" v:layerMember="3" transform="translate(539.156,-238.25)">
			<title>Rectangle.21</title>
			<desc>Intermediate Care Unit</desc>
			<v:userDefs>
				<v:ud v:nameU="visVersion" v:val="VT0(15):26"/>
			</v:userDefs>
			<v:textBlock v:margins="rect(4,4,4,4)"/>
			<v:textRect cx="45.8437" cy="751.25" width="91.69" height="81.5"/>
			<rect x="0" y="710.5" width="91.6875" height="81.5" class="st3"/>
			<text x="13.39" y="747.65" class="st4" v:langID="1033"><v:paragraph v:horizAlign="1"/><v:tabList/>Intermediate <tspan
						x="22.49" dy="1.2em" class="st5">Care Unit</tspan></text>		</g>
		<g id="shape22-285" v:mID="22" v:groupContext="shape" v:layerMember="3" transform="translate(539.156,-143.5)">
			<title>Rectangle.22</title>
			<desc>Other Inpatient</desc>
			<v:userDefs>
				<v:ud v:nameU="visVersion" v:val="VT0(15):26"/>
			</v:userDefs>
			<v:textBlock v:margins="rect(4,4,4,4)"/>
			<v:textRect cx="45.8437" cy="751.25" width="91.69" height="81.5"/>
			<rect x="0" y="710.5" width="91.6875" height="81.5" class="st3"/>
			<text x="7.8" y="754.85" class="st4" v:langID="1033"><v:paragraph v:horizAlign="1"/><v:tabList/>Other Inpatient</text>		</g>
		<g id="shape283-288" v:mID="283" v:groupContext="shape" v:layerMember="0" transform="translate(361.125,-324)">
			<title>Dynamic connector.283</title>
			<path d="M1.13 783 L10.71 783" class="st13"/>
		</g>
		<g id="shape284-293" v:mID="284" v:groupContext="shape" v:layerMember="0" transform="translate(969.75,-258.75)">
			<title>Dynamic connector.284</title>
		</g>
		<g id="shape285-294" v:mID="285" v:groupContext="shape" v:layerMember="0" transform="translate(978.75,-258.75)">
			<title>Dynamic connector.285</title>
			<path d="M0 783 L14.09 783" class="st13"/>
		</g>
	</g>
</svg>
</body>
</html>